<h3>Hello friend!</h3>
<br>
<p>Тебя приняли в группу обучения Ruby и Ruby on Rails, это твой шанс проявить себя и пробиться в IT отрасль с престижной профессией Ruby developer!</p>

<p>На данный момент тебе должны были прийти инвайты на наши ресурсы - Slack и Trello.</p>
<p>Когда зарегистрируешься, стартуй --> <a href="<%= @url %>">здесь</a> <-- </p>

<h4>Удачи!</h4>
