/* logo */

#logo {
  padding: 0;
  img{
    height: 100%;
    padding: 8px;
  }
}

/* universal */

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  ul {
    padding: 0;
    margin-left: 20px;
  }
  #remember_me {
    margin-right: 5px;
  }
}

.footer {
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f8f8f8;
}

.container .text-muted {
  margin: 20px 0;
}

ul {
  margin-left: 0px !important;
}

.email {
  font-style: italic;
  color: gray;
}

.back_link {
  font-style: italic;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user {
  font-family: "Comic Sans MS, Garamond, ‘Times New Roman’, Sans";
  color: #2E2B57;
  p>img {
    margin-right: 10px;
    height: 20px !important;
    width: 20px;
  }
  .progress {
    height: 10px;
  }
  .panel-title_main {
    font-size: 24px;
  }
}

.users {
  img {
    margin-right: 10px;
    height: 42px;
  }
  .progress {
    height: 10px;
    margin-top: 8px;
    margin-bottom: 0px;
  }
}

.disabled_user {
  img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
}

.little-spaced-bottom {
  margin-bottom: 10px;
}

.btn-sync,
.btn-sync:active {
  border: none;
  background-color: #fff;
  img {
    margin-right: 10px;
    height: 20px !important;
    width: 20px;
  }
}

.btn-sync:focus,
.btn-sync:active,
.btn-sync:hover {
  border: none;
  background-color: #fff;
  img {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
  }
}

.divider {
  height: 1px;
  width: 100%;
  display: block;
  margin: 20px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  border-radius: 0;
}
