/* logo */

#logo {
  padding: 0;
  img{
    height: 100%;
    padding: 8px;
  }
}

/* universal */

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  ul {
    padding: 0;
    margin-left: 20px;
  }
  #remember_me {
    margin-right: 5px;
  }
}

.footer {
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

ul {
  margin-left: 0px !important;
}

.email {
  font-style: italic;
  color: gray;
}

.users {
  img {
    margin-right: 10px;
    height: 42px;
  }
  .progress {
    height: 10px;
    margin-top: 8px;
    margin-bottom: 0px;
  }
}

#disabled_users {
  display: none;
  img {
    margin-right: 10px;
    height: 42px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
}

#redwings_users {
  display: none;
}

.current_user {
  text-decoration: none;
  color: #555;
  background-color: #f5f5f5;
}

.btn-sync,
.btn-sync:active
.btn-sync.active {
  border: none;
  background-color: #fff;
  img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
  }
}

.btn-sync:focus,
.btn-sync.focus,
.btn-sync:active,
.btn-sync.active,
.btn-sync:hover {
  border: none;
  background-color: #fff;
  img {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
  }
}

.divider {
  height: 1px;
  width:100%;
  display:block;
  margin: 20px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

a.list-group-item.active > .badge {
  color: #555;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #555;
  border-color: #555;
}

