/* logo */

#logo {
  padding: 0;
  img{
    height: 100%;
    padding: 8px;
  }
}

/* universal */

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  ul {
    padding: 0;
    margin-left: 20px;
  }
  #remember_me {
    margin-right: 5px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin-bottom: 17px;
  overflow: hidden;
  background-color: #e5e5e5;
}

a.list-group-item.disabled {
  text-decoration: line-through;
}

