@import "../../../vendor/assets/stylesheets/bootstrap/_bootstrap.scss";

/* logo */

#logo {
  padding: 0;
  img{
    height: 100%;
    padding: 8px;
  }
}

/* universal */

body {
  padding-top: 60px;
}

