/* logo */

#logo {
  padding: 0;
  img{
    height: 100%;
    padding: 8px;
  }
}

/* universal */

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  ul {
    padding: 0;
    margin-left: 20px;
  }
  #remember_me {
    margin-right: 5px;
  }
}

.footer {
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

#deleted_users {
  .form-inline {
    display: none;
  }
  textarea.form-control {
    height: auto;
    width: 250px !important;
    margin-right: 7px;
  }
  .btn-success {
    margin-right: 7px;
    margin-top: 0px;
  }
  .goodbye-reason {
    word-break: break-all;
  }
  .username {
    width: 1%;
  }
}

.table th, .table td {
  border-top: none !important;
}

.table tbody>tr>td{
    vertical-align: middle;
}

th{
  text-align:center;
}

